.day22 {
	background: linear-gradient(to bottom, #28404e, #1c2e38);
	font-family: "Open Sans", Helvetica, sans-serif;
}
.day22 .contaner {
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 1.4em;
	font-weight: bold;
	color: white;
}

.day22 .txt-small {
	font-size: 0.7em !important;
	font-weight: 300;
}

.day22 .title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 15% 0 10% 0;
}

.day22 .process,
.day22 .sub-process {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.day22 .process {
    margin-bottom: 1rem;
}

.day22 .text {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.day22 .text .txt-small {
	color: #648192 !important;
}

.day22 .process svg {
	width: 28%;
	aspect-ratio: 1/1;
}

.day22 .sub-process svg {
    height: 100%;
	aspect-ratio: 1/1;
}

.day22 .process .stroke,
.day22 .sub-process .stroke{
    fill: none;
	stroke-linecap: round;
	transform: rotate(-90deg);
	stroke-width: 0.6rem;
	stroke-dasharray: calc(44% * 2 * 3.14); /*Chu vi duong tron*/
	stroke: #27e1ae;
	stroke-dashoffset: calc(44% * 2 * 3.14 * 0.2);
	animation: d22-process 2s ease-in-out;
    transform-origin: 50% 50%;
}

.day22 .sub-process:nth-child(1) .stroke {
	stroke-width: 0.4rem;
	stroke: #5ce1ec;
	stroke-dashoffset: calc(44% * 2 * 3.14 * 0.33);
	animation: d22-sub-process-1 2s ease-in-out;
}
.day22 .sub-process:nth-child(2) .stroke {
	stroke-width: 0.4rem;
	stroke: #5ce1ec;
	stroke-dashoffset: calc(44% * 2 * 3.14 * 0.6);
	animation: d22-sub-process-2 2s ease-in-out;
}
.day22 .sub-process-container {
    display: flex;
    justify-content: center;
    gap: 10%;
    height: 20%;
}

.day22 .sub-process-container {
    font-size: 0.8em;
}

.day22 .bg {
    fill: none;
	stroke: #1b2a33;
	stroke-width: 0.5rem;
	stroke-dashoffset: 0;
}

@keyframes d22-process {
	0% {
		stroke-dashoffset: calc(44% * 2 * 3.14);
	}
	100% {
		stroke-dashoffset: calc(44% * 2 * 3.14 * 0.2);
	}
}

@keyframes d22-sub-process-1 {
	0% {
		stroke-dashoffset: calc(44% * 2 * 3.14);
	}
	100% {
		stroke-dashoffset: calc(44% * 2 * 3.14 * 0.33);
	}
}

@keyframes d22-sub-process-2 {
	0% {
		stroke-dashoffset: calc(44% * 2 * 3.14);
	}
	100% {
		stroke-dashoffset: calc(44% * 2 * 3.14 * 0.6);
	}
}