.day21 {
	background-color: black;
}

.day21 .contaner {
    width: 100%;
    height: 100%;
	position: relative;
}
.day21 .pacman {
	position: absolute;
	width: 30%;
	aspect-ratio: 1/1;
	fill: none;
    left: 35%;
    top: 35%;
	stroke-width: 100%;
	stroke: #f4d147;
	stroke-dasharray: calc(100% * 3.14);
	border-radius: 50%;
	animation: d21-pacman 1s infinite;
}

.day21 .eye {
	position: absolute;
	width: 3%;
	aspect-ratio: 1/1;
	stroke-width: 100px;
	fill: black;
	border-radius: 50%;
	top: calc(50% - 7%);
	right: calc(50% - 7%);
	animation: d21-eye 1s infinite;
}

.day21 .dots {
    stroke: #f4d147;
    stroke-width: 4%;
    stroke-dasharray: 0 24%;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: d21-dots 1s linear infinite;
}

@keyframes d21-pacman {
	0% {
		stroke-dashoffset: 0;
		transform: rotate(0);
	}
	50% {
		stroke-dashoffset: calc(80%);
		transform: rotate(40deg);
	}
	100% {
		stroke-dashoffset: 0;
		transform: rotate(0);
	}
}
@keyframes d21-eye {
	0% {
		top: calc(50% - 7%);
		right: calc(50% - 7%);
	}
	50% {
		top: calc(50% - 12%);
		right: calc(50% - 2%);
	}
	100% {
		top: calc(50% - 7%);
		right: calc(50% - 7%);
	}
}

@keyframes d21-dots {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 24%
    }
}
