$count: 8;
$w: calc(400px / $count);
.day59 {
	background-color: black;

	
	.slices {
		position: relative;
		width: 400px;
		height: 400px;
		display: flex;
		flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
		background: url("https://100dayscss.com/codepen/slice-image-1.jpg")
			center center no-repeat;
		&:hover {
            .text {
                transform: translateX(-20%);
                opacity: 0;
            }
            .slice {
                opacity: 1;
                transform: translateY(0) !important;
            }
        }

        .text {
            position: absolute;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            font-size: 3em;
            font-weight: bold;
            z-index: 3;
            pointer-events: none;
			opacity: 1;
			transition: all 0.8s ease-in-out;
        }

		.slice {
			width: $w;
			height: 400px;
			background: url("https://100dayscss.com/codepen/slice-image-2.jpg")
				center center no-repeat;
			background-size: 400px 400px;
			z-index: 2;
			opacity: 0;
			transition: all 0.8s ease-in-out;
		}

		@for $i from 1 to $count + 1 {
			.slice-#{$i} {
				background-position: ($w * -($i - 1)) 0;
				transform: translateY(20%);

				&:nth-child(odd) {
					transform: translateY(-20%);
				}
			}
		}
	}
}
