$sparkles: 6;
$speed: 0.3s;
$size: 4rem;
.day66 {
	background-color: #5a717b;

	.cb {
		display: none;
	}

	.cb:checked {
        & ~ .toggle {
            background-color: green;
            border: ($size * 2 / 5) solid white;
        }
        & ~ .sparkles {
            animation: d66-sparkles $speed ease-in-out ($speed / 2) both;
        }
    }
    
	.toggle {
		position: absolute;
		height: $size;
		aspect-ratio: 1/1;
		background-color: #5a717b;
		border-radius: 50%;
		box-sizing: border-box;
		border: 0.125rem solid white;
		transition: all $speed ease-in-out;
		z-index: 2;
	}

	.sparkles {
		position: absolute;
		height: $size * 2;
		aspect-ratio: 1/1;
		display: flex;
		justify-content: center;
		align-items: center;
        transform: scale(0);

		.sparkle {
			position: absolute;
			width: 1px;
			height: 100%;

			&::before {
				content: "";
				position: absolute;
				display: block;
                top: 0;
				height: 15%;
				width: 100%;
				background-color: white;
                border-radius: 2rem;
			}
			&::after {
				content: "";
				position: absolute;
				display: block;
                bottom: 0;
				height: 15%;
				width: 100%;
				background-color: white;
                border-radius: 2rem;
			}

            @for $i from 1 through $sparkles {
                &.sparkle-#{$i} {
                    rotate: 180deg / $sparkles * $i;
                }
            }
		}
	}
}

@keyframes d66-sparkles {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}