$count: 36;
.day65 {
	background-color: #1f91dd;
	
	.shape {
		position: absolute;
		height: 80%;
		box-sizing: border-box;
		border: 1px solid white;

		@for $i from 1 through $count {
			&.shape-#{$i} {
				animation: d65-shape-#{$i} 5s ease-in-out infinite;
			}

			@keyframes d65-shape-#{$i} {
				0%,
				100% {
					transform: rotateZ(0);
					border-radius: 0;
					aspect-ratio: 1/1;
				}
				50% {
					transform: rotateZ(10deg * $i);
					border-radius: 50%;
					aspect-ratio: 1/3;
				}
			}
		}
	}
	&:hover {
		.shape {
			animation-play-state: paused;
		}
	}
}
