$color: rgb(105, 207, 247);
.day8 {
	background-color: black;
	filter: contrast(10);
	.circle {
		position: relative;
		height: 25%;
		aspect-ratio: 1/1;
		background-color: $color;
		border-radius: 50%;
		filter: blur(5px);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.wave {
		position: absolute;
		height: 80%;
		aspect-ratio: 1/1;
		border-radius: 50%;
		background-color: $color;
		filter: blur(5px);
		animation: d8-rotate ease-in-out infinite;

		&.wave-1 {
			transform-origin: 50% 62%;
			animation-duration: calc(random(10) * 0.6s + 2.5s);
			animation-delay: calc(random(10) * 0.5s);
		}
		&.wave-2 {
			height: 65%;
			transform-origin: 38% 55%;
			animation-duration: calc(random(10) * 0.6s + 2.5s);
			animation-delay: calc(random(10) * 0.5s);
		}
		&.wave-3 {
			height: 70%;
			transform-origin: 62% 35%;
			animation-duration: calc(random(10) * 0.6s + 2.5s);
			animation-delay: calc(random(10) * 0.5s);
		}
		&.wave-4 {
			height: 70%;
			transform-origin: 65% 70%;
			animation-duration: calc(random(10) * 0.6s + 2.5s);
			animation-delay: calc(random(10) * 0.5s);
		}
		&.wave-5 {
			transform-origin: 45% 65%;
			animation-duration: calc(random(10) * 0.6s + 2.5s);
			animation-delay: calc(random(10) * 0.5s);
		}
		&.wave-6 {
			transform-origin: 35% 45%;
			animation-duration: calc(random(10) * 0.6s + 2.5s);
			animation-delay: calc(random(10) * 0.5s);
		}
		&.wave-7 {
			transform-origin: 60% 55%;
			animation-duration: calc(random(10) * 0.6s + 2.5s);
			animation-delay: calc(random(10) * 0.5s);
		}
		&.wave-8 {
			transform-origin: 50% 35%;
			animation-duration: calc(random(10) * 0.6s + 2.5s);
			animation-delay: calc(random(10) * 0.5s);
		}
	}

	@for $i from 1 through 15 {
		.float-#{$i} {
			position: absolute;
			height: calc(random(8) + 13) + px;
			aspect-ratio: 1/1;
			transform: rotate(random(360) + deg);

			&::after {
				content: "";
				position: absolute;
				display: block;
				z-index: 2;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: $color;
				filter: blur(2px);
				transform-origin: calc(random(20) + 40) + px calc(random(20) + 40) + px;
				animation: d8-rotate
					($i * 0.2s + 4s)
					ease-in-out
					($i * 0.4s)
					infinite;
			}
		}
	}
}

@keyframes d8-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
