$size: 120px;
$color: rgba(0, 0, 0, 0.1);
$colorF: rgba(46, 204, 113, 0.8);
.day91 {
	background-color: #34495e;
    perspective: 500px;

	.loader {
		width: $size;
		height: $size;
		transform-style: preserve-3d;
		transform: rotateX(-20deg) rotateY(45deg);
        transition: transform 0.4s ease-in-out;
        &:hover {
            transform: rotateX(-20deg) rotateY(45deg) translateY(-1rem);

            .plane.bottom {
				box-shadow: -1rem 1rem 1rem 0.75rem rgba(0, 0, 0, 0.3);
            }
        }
		.plane {
			position: absolute;
			top: 0;
			left: 0;
			width: $size;
			height: $size;
			background-color: $color;
			transform-origin: center center;
            
			&:not(.top):not(.bottom):not(.fill-top)::before {
				content: "";
				display: block;
				position: absolute;
				inset: 0;
				background-color: $colorF;
				animation: d90-fill 4s ease-in-out infinite alternate;
				transform-origin: center bottom;
			}
			&.front {
				transform: translateZ(-$size / 2);
			}
			&.back {
				transform: translateZ($size / 2);
			}
			&.left {
				transform: rotateY(90deg) translateZ(-$size / 2);
			}
			&.right {
				transform: rotateY(90deg) translateZ($size / 2);
			}
			&.bottom {
				transform: rotateX(90deg) translateZ(-$size / 2);
				box-shadow: -0.5rem 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.3);
				background-color: $colorF;
                transition: box-shadow 0.4s ease-in-out
			}
			&.top {
				transform: rotateX(90deg) translateZ($size / 2);
                opacity: 0.2;
			}

			&.fill-top {
				transform: rotateX(90deg) translateZ(-$size / 2);
				background-color: $colorF;
				animation: d90-fill-top 4s ease-in-out infinite alternate;
			}
		}
	}
}

@keyframes d90-fill-top {
	0%,
	25% {
		transform: rotateX(90deg) translateZ(-$size / 2);
	}
	75%,
	100% {
		transform: rotateX(90deg) translateZ($size / 2);
	}
}
@keyframes d90-fill {
	0%,
	25% {
		transform: scaleY(0);
	}
	75%,
	100% {
		transform: scaleY(1);
	}
}
