$speed: 3s;
$speed-2: 1.75s;
$size: 0.75rem;
$start: 0px;
$center: calc(200px - $size);
$end: 400px;
.day92 {
	background-color: #27ae60;

	.ball {
		top: 0;
		left: 0;
		position: absolute;
		width: $size;
		height: $size;
		background-color: white;
		border-radius: 50%;
		animation-duration: $speed;
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;

		&.ball-1 {
			animation-name: d91-tc-bl;
		}
		&.ball-2 {
			animation-name: d91-tc-br;
		}
		&.ball-3 {
			animation-name: d91-rc-tl;
		}
		&.ball-4 {
			animation-name: d91-rc-bl;
		}
		&.ball-5 {
			animation-name: d91-bc-tl;
		}
		&.ball-6 {
			animation-name: d91-bc-tr;
		}
		&.ball-7 {
			animation-name: d91-lc-tr;
		}
		&.ball-8 {
			animation-name: d91-lc-br;
		}
		&.ball-9 {
			animation-name: d91-tc-lc;
			animation-duration: $speed-2;
		}
		&.ball-10 {
			animation-name: d91-tc-lc;
			animation-direction: alternate;
			animation-duration: $speed-2;
		}
		&.ball-11 {
			animation-name: d91-tc-rc;
			animation-duration: $speed-2;
		}
		&.ball-12 {
			animation-name: d91-tc-rc;
			animation-direction: alternate;
			animation-duration: $speed-2;
		}
		&.ball-13 {
			animation-name: d91-bc-lc;
			animation-duration: $speed-2;
		}
		&.ball-14 {
			animation-name: d91-bc-lc;
			animation-direction: alternate;
			animation-duration: $speed-2;
		}
		&.ball-15 {
			animation-name: d91-bc-rc;
			animation-duration: $speed-2;
		}
		&.ball-16 {
			animation-name: d91-bc-rc;
			animation-direction: alternate;
			animation-duration: $speed-2;
		}
	}
}
@keyframes d91-tc-bl {
	0% {
		transform: translate($center, $start);
	}
	100% {
		transform: translate($start, $end);
	}
}
@keyframes d91-tc-br {
	0% {
		transform: translate($center, $start);
	}
	100% {
		transform: translate($end, $end);
	}
}

@keyframes d91-rc-tl {
	0% {
		transform: translate($end, $center);
	}
	100% {
		transform: translate($start, $start);
	}
}

@keyframes d91-rc-bl {
	0% {
		transform: translate($end, $center);
	}
	100% {
		transform: translate($start, $end);
	}
}

@keyframes d91-bc-tl {
	0% {
		transform: translate($center, $end);
	}
	100% {
		transform: translate($start, $start);
	}
}

@keyframes d91-bc-tr {
	0% {
		transform: translate($center, $end);
	}
	100% {
		transform: translate($end, $start);
	}
}

@keyframes d91-lc-tr {
	0% {
		transform: translate($start, $center);
	}
	100% {
		transform: translate($end, $start);
	}
}

@keyframes d91-lc-br {
	0% {
		transform: translate($start, $center);
	}
	100% {
		transform: translate($end, $end);
	}
}

@keyframes d91-tc-lc {
	0% {
		transform: translate($center, $start);
	}
	100% {
		transform: translate($start, $center);
	}
}

@keyframes d91-tc-rc {
	0% {
		transform: translate($center, $start);
	}
	100% {
		transform: translate($end, $center);
	}
}

@keyframes d91-bc-lc {
	0% {
		transform: translate($center, $end);
	}
	100% {
		transform: translate($start, $center);
	}
}
@keyframes d91-bc-rc {
	0% {
		transform: translate($center, $end);
	}
	100% {
		transform: translate($end, $center);
	}
}
